@keyframes perfume-move {
  0% {
    left: 40%;
    top: 15%;
    transform: scale(1.3);
  }
  33% {
    left: 10%;
    top: 10%;
    transform: scale(1);
  }
  66% {
    left: 70%;
    top: 10%;
    transform: scale(1);
  }
}
@keyframes move-row {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
