/* парфюмы */
@keyframes perfume-move {
  0% {
    left: 40%;
    top: 15%;
    transform: scale(1.3);
    z-index: 2;
  }
  33% {
    left: 10%;
    top: 10%;
    transform: scale(1);
    z-index: 1;
  }
  66% {
    left: 70%;
    top: 10%;
    transform: scale(1);
    z-index: 0;
  }
  84% {
    z-index: 2;
  }
}
/* бегущая строка 1 */
@keyframes move-row {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* бегущая строка 2 */
@keyframes move-row2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes move-row3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* наклейки */
.stickerboom {
  animation: boom 3s infinite alternate;
}
@keyframes boom {
  0% {
    background-image: url(../images/stickerboom1.svg);
  }
  50% {
    background-image: url(../images/stickerboom2.svg);
  }
  100% {
    background-image: url(../images/stickerboom3.svg);
  }
}

.linesanimation {
  animation: play 1s infinite alternate;
}
@keyframes play {
  0% {
    background-image: url(../images/lines.svg);
  }
  20% {
    background-image: url(../images/lines2.svg);
  }
  40% {
    background-image: url(../images/lines.svg);
  }
  60% {
    background-image: url(../images/lines2.svg);
  }
  80% {
    background-image: url(../images/lines.svg);
  }
  100% {
    background-image: url(../images/lines2.svg);
  }
}
.blueblock {
  animation: cat 1s infinite alternate;
}
@keyframes cat {
  0% {
    background-image: url(../images/cat1.svg);
  }
  25% {
    background-image: url(../images/cat2.svg);
  }
  50% {
    background-image: url(../images/cat3.svg);
  }
  75% {
    background-image: url(../images/cat4.svg);
  }
  100% {
    background-image: url(../images/cat5.svg);
  }
}
.sticker1,
.sticker3 {
  animation: moveDown 2s ease-in infinite alternate;
}

/* 2-й стикер вниз */
.sticker2 {
  animation: moveUp 2s ease-in infinite alternate;
}
@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-7vw);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(7vw);
  }
}
