body {
  font-family: Benzin-Regular;
}

#move-row {
  background-color: rgba(255, 194, 194, 1);
  width: 100%;
  overflow: hidden;
}
.row {
  padding: 1.5vw;
  font-family: Benzin-Regular;
  font-size: 2.38vw;
  text-transform: uppercase;
  width: 200%;
  animation: move-row 10s infinite linear;
}
.perfume {
  width: 22%;
  position: absolute;
  left: 40%;
  top: 15%;
  transform: scale(1.3);
  animation: perfume-move 9s infinite linear;
}
.perfume-blue {
  animation-delay: -3s;
}
.perfume-rose {
  animation-delay: -6s;
}
.block_section2 {
  display: flex;
  flex-direction: row;
}
.leftblock_section2 {
  position: relative;
  width: 50%;
  height: 49.3vw;
  border: 0.78vw solid rgba(184, 206, 221, 1);
}
.rightblock_section2 {
  position: relative;
  width: 50%;
  height: 24.65vw;
  background-color: rgba(231, 235, 201, 1);
  overflow-y: hidden;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.rightblock_section2 p {
  font-size: 1.8vw;
  font-family: Benzin-Regular;
  position: relative;
  text-align: left;
  padding-top: 1.5vw;
}

.rightblockstar {
  position: relative;
  width: 25%;
  height: 24.65vw;
  background-color: rgba(245, 211, 207, 1);
  display: flex;
  flex-direction: column;
}
